* {
  padding: 0px;
  margin: 0px;
}

.body {
  &__desktop {
    gap: 8px;
    width: min-content;
    &__icon {
      background-color: red;
      display: flex;
      flex-direction: column;
      width: 56px;
      align-items: center;
      justify-content: center;
    }
    &__icon:focus {
      background-color: rgba(
        1,
        197,
        197,
        0.373
      ); /*delete, handled by dom interaction now*/
    }
    &__image {
      width: 32px;
      height: 32px;
    }
    &__file-name {
      color: white;
      text-align: center;
      font-size: 13px;
    }
  }
}
